<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-lazy-init="true">

	<description>Shiro安全配置</description>

	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroDbRealm" />
<!-- 		<property name="cacheManager" ref="shiroEhcacheManager" /> -->
	</bean>

	<!-- 項目自定义的Realm, 所有accountService依赖的dao都需要用depends-on声明 -->
	<bean id="shiroDbRealm" class="com.yzsl.service.account.ShiroDbRealm">
		<property name="accountService" ref="accountService"/>
	</bean>
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login" /> <!-- get请求为页面 -->
<!-- 		<property name="successUrl" value="/login/welcome" />  --><!-- ajax用不到这个 -->
<!-- 		<property name="successUrl" value="/" />  -->
		
		 <!-- 自定义filter配置 -->  
        <property name="filters">  
            <map>  
                <!-- 将自定义 的FormAuthenticationFilter注入shiroFilter中 -->  
                <entry key="authc" value-ref="formAuthenticationFilter" />  
            </map>  
        </property>  
        
		<property name="filterChainDefinitions">
			<value>
				/login = authc <!-- post请求为submit -->
				/logout = logout
				/static/** = anon
				/api/** = anon
				/register/** = anon
				/admin/** = roles[admin]
				/data/** = anon  <!-- mobile 不在后台过滤 -->
				/** = authc
			</value>
		</property>
	</bean>
	
	<!-- 用户授权信息Cache, 采用EhCache -->
<!-- 	<bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager"> -->
<!-- 		<property name="cacheManagerConfigFile" value="classpath:ehcache/ehcache-shiro.xml"/> -->
<!-- 	</bean> -->
	
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
	
    <!-- 自定义form认证过虑器 -->  
    <!-- 基于Form表单的身份验证过滤器，不配置将也会注册此过虑器，表单中的用户账号、密码及loginurl将采用默认值，建议配置 -->  
    <bean id="formAuthenticationFilter" class="com.yzsl.service.account.CustomFormAuthenticationFilter  ">  
        <!-- 表单中账号的input名称 -->  
        <property name="usernameParam" value="username" />  
        <!-- 表单中密码的input名称 -->  
        <property name="passwordParam" value="password" />  
    </bean>  
</beans>