<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  
    <!-- 工作的bean -->  
    <bean id="myJob" class="com.yzsl.MyJob" />  
  
    <!-- job的配置开始 -->  
    <bean id="myJobDetail"  
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
        <property name="targetObject">  
            <ref bean="myJob" />  
        </property>  
        <property name="targetMethod">  
            <value>execute</value>  
        </property>  
    </bean>  
    <!-- job的配置结束 -->  
  
  
    <!-- 调度的配置开始 -->  
    <bean id="cronJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">  
        <property name="jobDetail">  
            <ref bean="myJobDetail" />  
        </property>  
<!--         <property name="cronExpression">   -->
<!--             <value>0 35 15 * * ?</value>每天凌晨12点执行一次   -->
<!--         </property>   -->

		<!-- 每2分钟一次调度 -->
      	<property name="cronExpression" value="0 0/2 * * * ?" />
    </bean>  
   
    <!-- 调度的配置结束 -->  
  
  
    <!-- 启动触发器的配置开始 -->  
    <bean name="startQuertz" lazy-init="false" autowire="no"  
        class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
        <property name="triggers">  
            <list>  
                <ref bean="cronJobTrigger" />  
  
            </list>  
        </property>  
    </bean>  
    <!-- 启动触发器的配置结束 -->  
</beans>  